<footer id="footer" class="container">
    <div class="brand">
        <a href="#top"><img src="assets/brand.png" alt="Danaz logo"></a>
        <h1>One of the best furniture agency.</h1>
    </div>
    <div class="right">
        <div class="right-l2">
            <form class="newsletter">
                <div class="form-heading">
                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <ellipse cx="7" cy="7.18237" rx="7" ry="7.00879" fill="#333333" />
                    </svg>
                    <span>Enter your email to get the latest news</span>
                </div>

                <div class="form-group">
                    <input type="email" name="email" placeholder="Email Address">
                    <button type="submit" class="submit-btn">
                        <svg width="26" height="12" viewBox="0 0 26 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 10.2479H23.5L16 1.23633" stroke="#141414" stroke-width="2" />
                        </svg>
                    </button>
                </div>

            </form>
            <div class="socials">
                <span>Follow us On</span>
                <div class="icons">
                    <img src="assets/facebook.png" alt="facebook icoc">
                    <img src="assets/instagram.png" alt="instagram icoc">
                    <img src="assets/tiktok.png" alt="tiktok icoc">
                    <img src="assets/youtube.png" alt="youtube icoc">
                </div>
            </div>
        </div>
    </div>
</footer>