<section id="hero" class="container">
    <div data-aos="zoom-out" data-aos-duration="800" data-aos-once="true" data-aos-easing="ease-in-sine" class="hero-texts">
        <h1>Minimalist Room</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.</p>
    </div>
    <div class="hero-image">
        <ngx-skeleton-loader *ngIf="!contentLoaded" appearance="circle"
            [theme]="{ 'border-radius': '0px',  width: '80vw', height: '40vh' }">
        </ngx-skeleton-loader>
        <img data-aos="fade-up" data-aos-duration="600" data-aos-once="true" data-aos-easing="ease-in-sine" *ngIf="contentLoaded" src="assets/minimalist-room.png" alt="minimalist room image">
    </div>
</section>
<section id="details" class="container">
    <div class="detail">
        <h3>
            Project Overview
        </h3>
        <p>Online learning with us does not interfere with your daily life. because learning can be done anytime
            and anywhere. Online learning with us does not interfere with your daily life. because learning can
            be done anytime and anywhere. Online learning with us does not interfere with your daily life.
            because learning can be done anytime and anywhere. </p>
        <div class="sub-details">
            <span>July 22 - 2022</span>
            <span>Interior Design - Furnitur</span>
        </div>
    </div>
    <div class="detail right">
        <h3>
            Design Process
        </h3>
        <p>Online learning with us does not interfere with your daily life. because learning can be done anytime
            and anywhere. Online learning with us does not interfere with your daily life. because learning can
            be done anytime and anywhere.</p>
        <p style="margin-top: 30px">Online learning with us does not interfere with your daily life. because
            learning can be done anytime
            and anywhere. Online learning with us does not interfere with your daily life. because learning can
            be done anytime and anywhere.</p>
    </div>
</section>
<section id="gallery" class="container">
    <div>
        <img data-aos="fade-up" data-aos-duration="600" data-aos-once="true" data-aos-easing="ease-in-sine" *ngIf="contentLoaded" src="assets/gallery-1.png" alt="gallery image">
        <ngx-skeleton-loader *ngIf="!contentLoaded" appearance="circle"
            [theme]="{ 'border-radius': '0px',  width: '100%', height: '100%', 'object-fit': 'cover', 'aspect-ratio': '1/1' }">
        </ngx-skeleton-loader>

    </div>
    <div>
        <img data-aos="fade-up" data-aos-delay="600" data-aos-duration="600" data-aos-once="true" data-aos-easing="ease-in-sine" *ngIf="contentLoaded" src="assets/gallery-2.png" alt="gallery image">
        <ngx-skeleton-loader *ngIf="!contentLoaded" appearance="circle"
            [theme]="{ 'border-radius': '0px',  width: '100%', height: '100%', 'object-fit': 'cover', 'aspect-ratio': '1/1' }">
        </ngx-skeleton-loader>

    </div>
    <div>
        <img data-aos="fade-up" data-aos-delay="900" data-aos-duration="600" data-aos-once="true" data-aos-easing="ease-in-sine" *ngIf="contentLoaded" src="assets/gallery-3.png" alt="gallery image">
        <ngx-skeleton-loader *ngIf="!contentLoaded" appearance="circle"
            [theme]="{ 'border-radius': '0px',  width: '100%', height: '100%', 'object-fit': 'cover', 'aspect-ratio': '2/1' }">
        </ngx-skeleton-loader>

    </div>
    <div>
        <img data-aos="fade-up" data-aos-delay="1200" data-aos-duration="600" data-aos-once="true" data-aos-easing="ease-in-sine" *ngIf="contentLoaded" src="assets/gallery-4.png" alt="gallery image">
        <ngx-skeleton-loader *ngIf="!contentLoaded" appearance="circle"
            [theme]="{ 'border-radius': '0px',  width: '100%', height: '100%', 'object-fit': 'cover', 'aspect-ratio': '1/1' }">
        </ngx-skeleton-loader>

    </div>
    <div>
        <img data-aos="fade-up" data-aos-delay="1500" data-aos-duration="600" data-aos-once="true" data-aos-easing="ease-in-sine" *ngIf="contentLoaded" src="assets/gallery-5.png" alt="gallery image">
        <ngx-skeleton-loader *ngIf="!contentLoaded" appearance="circle"
            [theme]="{ 'border-radius': '0px',  width: '100%', height: '100%', 'object-fit': 'cover', 'aspect-ratio': '1/1' }">
        </ngx-skeleton-loader>

    </div>





</section>
<section id="contact-us">
    <div class="container">
        <h1>Let's discuss making your interior like a dream place!</h1>
        <div class="cta">
            <div class="cta-l2">
                <span>Contact us below to work together to build your amazing interior</span>
                <button class="btn secondary-btn">Contact Us</button>
            </div>
        </div>
    </div>
</section>