@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
.hero-image img {
    object-fit: cover!important;
    width: 100%!important;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-left: 120px;
    padding-right: 120px;
    box-sizing: border-box;
}

.btn {
    padding: 14px 32px;
    border: 1px solid #3C3C3C;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: ease-in .3s;
}

.btn:hover {
    opacity: 0.8;
}

.primary-btn {
    color: #ffffff;
    background-color: #2C3878;
}

.secondary-btn {
    color: #2C3878;
    background-color: #ffffff;
    border: none;
}

.icons {
    display: flex;
    gap: 25px;
    margin-top: 11px;
}

.icons img {
    background: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
}

.icons img:hover {
    transition: all .3s ease-in;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

#gallery img {
    object-fit: cover;
    width: 100%;
}

#gallery div:nth-child(3) {
    grid-column: span 2;
}

@media (max-width: 880px) {
    body {
        overflow-x: hidden !important;
        width: 100vw;
        max-width: 100vw;
    }

    .container {
        padding: 80px 34px !important;
        max-width: unset !important;
        margin: unset !important;
    }
    #gallery {
        gap: 20px;
    }
}

@media (max-width: 550px) {
    .container {
        padding: 80px 22px !important;
    }
}